ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      padding: 10px 15px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #222222;
      }
    }
  }
}
.active{
  background-color: #222222;
  border-radius: 5px;
}


li{
  float: left;
  a{
    display: block;
    color: #f7f7f7;
    text-align: center;
    padding: 0 12px;
    text-decoration: none;

    &:hover{
      &:not(.active){
        border-radius: 5px;
        opacity: 0.7;
      }
    }
  }
}

.nav-pills{
  > li{
    float: left;

    > a{
      border-radius: 4px;
    }

    + li{
      margin-left: 2px;
    }
  }

  > li.active{
    > a{
      color: #fff;
      background-color: #337ab7;

      &:hover{
        color: #fff;
        background-color: #337ab7;
      }
      &:focus{
        color: #fff;
        background-color: #337ab7;
      }
    }
  }

}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.pull-right {
  float: right !important;
}
.hold{
  background-color: #333333;
}