<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Navigation</title>
        <link href="../stylesheets/styles/signup.css" rel="stylesheet">
    </head>
    <body>
        <section>
            <header class="contains-fluid">
                <nav class="contains">
                    <div class="rows hold">
                        <figure class="column-xs-12 column-sm-4 column-md-4 column-lg-4" href="http://www.adidas.com/us/">
                            <img src="../images/adidas08.png" class="img-responsive"/>
                        </figure>
                        <nav class="column-xs-12 column-sm-7 column-md-7 column-lg-7 test">
                            <ul class="nav nav-pills pull-right">
                                <li>
                                    <a >Men

                                    </a>
                                </li>
                                <li>
                                    <a >Women

                                    </a>
                                </li>
                                <li>
                                    <a class="active">Login

                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </header>
            <article class="contains">
                <div >
                    <ol class="breadcrumb">
                        <li class="active1">
                            <a href="Login_Form.html" style="color: #333333">Login Form</a>
                        </li>
                        <li>
                            >SignUp
                        </li>
                    </ol>
                </div>
                <form>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            First Name
                            <input class="form-control" placeholder="First Name">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Last Name
                            <input class="form-control" placeholder="Last Name">
                        </label>
                    </div>
                    
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Phone Number
                            <input  class="form-control" placeholder="Phone Number">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Hobbies
                            <input class="form-control" placeholder="Hobbies">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Qualification
                            <input class="form-control" placeholder="Qualification">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Current Address
                            <input class="form-control" placeholder="Current Address">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Skills
                            <input class="form-control" placeholder="Skills">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Email Id
                            <input class="form-control" placeholder="Email Id">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                            Password
                            <input class="form-control" placeholder="Password">
                        </label>
                    </div>
                    <div class="column-xs-10 column-sm-10 column-md-5 column-lg-5 ">
                        <label>
                             Confirm Password
                            <input class="form-control" placeholder="Confirm Password">
                        </label>
                    </div>
                    <div class="column-lg-4">
                        <button class="button">
                            Sign Up
                        </button>

                    </div>
                </form>

            </article>
            <footer>

            </footer>
        </section>
    </body>
</html>